<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
	<Appenders>
		<Appender type="Console" name="STDOUT">
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss,SSS} [%t] %-5Level %Logger{36} - %msg%n" />
		</Appender>

		<Appender type="File" name="file" fileName="c:\temp\Log\app. Log">
			<Layout type="PatternLayout"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %Logger{36} - %msg%n" />
		</Appender>
	</Appenders>


	<loggers>
		<Root level="all">
			<appenderRef ref="STDOUT" />
		</Root>
	</loggers>
</Configuration>